# Add any directories, files, or patterns you don't want to be tracked by version control

/var/report/*
/var/log/*
/var/locks/*
/var/session/*
/var/cache/*
/var/tmp/*
/var/package/tmp/
/var/debug/*

/media/*
!/media/.htaccess
!/media/product
!/media/product/cache
!/media/customer/
!/media/dhl/
!/media/downloadable/
!/media/xmlconnect/
!/media/newsletter/

/tmp/

/includes/src/*
/includes/config.php

/downloader/.cache/
/downloader/cache.cfg
/downloader/connect.cfg

app/etc/local.xml
.htaccess

errors/local.xml

*.*~
*.*swp