<div class="header" style="border-bottom: 1px solid #000;padding: 10px 0px;display: inline-block;width: 100%;padding-top: 0px;">
	<div class="top-header" style="background: #000001;text-align: center;">
		<ul style="margin: 0px;padding: 5px 0px;list-style-type: none;display: inline-block;width: 100%;text-align: center;">
			<li style="display: inline-block;"><a href="#" style="padding-right: 5px;font-size: 11px;color: #FFF;text-decoration: none;border-right: 1px solid #FFF;">FREE Delivery & Returns</a></li>
			<li style="display: inline-block;"><a href="#" style="padding: 0 5px;font-size: 11px;color: #FFF;text-decoration: none;border-right: 1px solid #FFF;">Over 200 Brands</a></li>
			<li style="display: inline-block;"><a href="#" style="padding-left: 5px;font-size: 11px;color: #FFF;text-decoration: none;">FREE Gifts with Premier</a></li>
		</ul>
	</div>
	<div class="logo" style="text-align: center;margin: 10px 0px 5px;">
		<a href="{{store url=""}}">
			<img {{if logo_width}}
				width="{{var logo_width}}"
				{{else}}
				width="165"
				{{/if}}

				{{if logo_height}}
				height="{{var logo_height}}"
				{{else}}
				height="48"
				{{/if}}

				src="{{var logo_url}}"
				alt="{{var logo_alt}}"
				border="0"
				style="width: 300px;height: 50px;"					
			/>
		</a>
	</div>
	<div class="nav">
		<ul style="list-style-type: none;margin: 0px;display: inline-block;width: 100%;text-align: center;padding: 0px;">
			<li style="display: inline-block;padding: 0 20px;"><a href="https://timeforyourskin.it/customer/account/" target="_blank" style="color: #000;font-weight: bold;font-size: 13px;text-decoration: none;">My Account</a></li>
			<li style="display: inline-block;padding: 0 20px;"><a href="https://timeforyourskin.it/make-up" target="_blank" style="color: #000;font-weight: bold;font-size: 13px;text-decoration: none;">Make Up</a></li>
			<li style="display: inline-block;padding: 0 20px;"><a href="https://timeforyourskin.it/skin-care" target="_blank" style="color: #000;font-weight: bold;font-size: 13px;text-decoration: none;">Skin Care</a></li>
			<li style="display: inline-block;padding: 0 20px;"><a href="https://timeforyourskin.it/hair-care" target="_blank" style="color: #000;font-weight: bold;font-size: 13px;text-decoration: none;">Hair</a></li>
			<li style="display: inline-block;padding: 0 20px;"><a href="https://timeforyourskin.it/body-care" target="_blank" style="color: #000;font-weight: bold;font-size: 13px;text-decoration: none;">Bath & Body</a></li>
		</ul>
	</div>
</div>