<!--@subject Salve, {{var name}} @-->
<!--@vars
{"htmlescape var=$name":"Recipient Name",
"var email":"Recipient Email address",
"var product_url":"Url for Product",
"var product_name":"Product Name",
"var product_image":"Url for product small image (75 px)",
"var sender_name":"Sender name",
"var sender_email":"Sender email",
"var message":"Sender Message"}
@-->
<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Strict//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-strict.dtd">
<html xmlns="http://www.w3.org/1999/xhtml" class="no-scroll">
	<head>
		<meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
		<meta name="viewport" content="initial-scale=1.0, width=device-width" />
	</head>
    {{var non_inline_styles}}
    <body style="max-width: 600px;margin: 0 auto;font-family: 'Poppins', sans-serif;font-size: 14px; background:#fff"> 
        <div class="wrapper">
            {{template config_path="design/email/header"}}
			{{inlinecss file="email-inline.css"}}
            <div class="main" style="padding:10px 0px 0px;">
                <div class="img-sec" style="margin: 0px 0px 20px;display: inline-block;text-align: left;">
                    <!--<img src="images/first.jpg" style="width: 100%;" />-->
					<table cellpadding="0" cellspacing="0" border="0">
						<tr>
							<td class="action-content">
								<h1>{{htmlescape var=$name}},</h1>
								<p>Un tuo amico vuole condividere questo prodotto con te: <a href="{{var product_url}}">{{var product_name}}</a></p>
								<table cellspacing="0" cellpadding="0" class="message-container">
									<tr>
										<td><strong>Messaggio:</strong> {{var message}}</td>
									</tr>
								</table>
							</td>
						</tr>
					</table>
                </div>
            </div>
            {{template config_path="design/email/footer"}} 
        </div>
    </body>
</html>
      