<div class="footer" style="display: inline-block;width: 100%;font-size: 9px;text-align: center;background-color:#252525;color:#bebebe;font:13px/20px 'dinpro-regularregular', Arial, Helvetica, sans-serif">
	<!--<div class="social">
		<ul style="list-style-type: none;padding: 0;margin: 0;">
			<li style="display: inline-block;margin: 0 15px;"><a href="https://www.facebook.com/time4yourskin/"target="_blank" target="_blank" style="width: 30px;height: 30px;line-height: 33px;text-align: center;font-size: 20px;border-radius: 100%;display: block;background: #000;color: #FFF;"><i class="fa fa-facebook"></i></a></li>
			<li style="display: inline-block;margin: 0 15px;"><a href="https://twitter.com/Timeforyourskin/" target="_blank" style="width: 30px;height: 30px;line-height: 33px;text-align: center;font-size: 20px;border-radius: 100%;display: block;background: #000;color: #FFF;"><i class="fa fa-twitter"></i></a></li>
			<li style="display: inline-block;margin: 0 15px;"><a href="https://www.instagram.com/timeforyourskin/" target="_blank" style="width: 30px;height: 30px;line-height: 33px;text-align: center;font-size: 20px;border-radius: 100%;display: block;background: #000;color: #FFF;"><i class="fa fa-instagram"></i></a></li>
			<li style="display: inline-block;margin: 0 15px;"><a href="https://www.pinterest.com/Time%20for%20yourskin/" target="_blank"style="width: 30px;height: 30px;line-height: 33px;text-align: center;font-size: 20px;border-radius: 100%;display: block;background: #000;color: #FFF;"><i class="fa fa-pinterest"></i></a></li>
			<li style="display: inline-block;margin: 0 15px;"><a href="#" target="_blank"style="width: 30px;height: 30px;line-height: 33px;text-align: center;font-size: 20px;border-radius: 100%;display: block;background: #000;color: #FFF;"><i class="fa fa-youtube"></i></a></li>
			<li style="display: inline-block;margin: 0 15px;"><a href="https://plus.google.com/+Timeforyourskin/about" target="_blank" style="width: 30px;height: 30px;line-height: 33px;text-align: center;font-size: 20px;border-radius: 100%;display: block;background: #000;color: #FFF;"><i class="fa fa-google-plus"></i></a></li>
		</ul>
	</div>-->
	<div class="footer-links">
		<ul style="list-style-type: none;margin: 0;padding: 0;margin-top: 20px;">
			<li style="border-right: 1px solid #bebebe;display: inline-block;"><a href="#" style="font-size: 14px;color: #bebebe;text-decoration: none;padding-right:15px">Spedizioni</a></li>
			<li style="border-right: 1px solid #bebebe;display: inline-block;"><a href="#" style="font-size: 14px;color: #bebebe;text-decoration: none;padding-right:15px">Pagamenti</a></li>
			<li style="display: inline-block;"><a href="#" style="font-size: 14px;color: #bebebe;text-decoration: none;">Termini e Condizioni</a></li>
		</ul>
	</div>
	<div style="line-height:8px;">
	    <p style="font-size:14px;text-align:center;color:#bebebe">Contatti: +39 02 36 74 58 46 - info@timeforyourskin.com </p>
		<p style="font-size:14px;text-align:center;color:#bebebe">Time for your Skin-Fast Ventures srl | Piazza Santo Stefano 5, 20122, Milano, Italy </p>
	</div>
	<p style="font-size:12px;color:#bebebe;">Se si desidera annullare l'iscrizione a questa lista , clicca qui <a href="#">Annulla l'iscrizione</a></p>
</div>