<div class="header" style="padding: 10px 0px;display: inline-block;width: 100%;padding-top: 0px;font:13px/20px 'dinpro-regularregular', Arial, Helvetica, sans-serif">
	<div class="top-header" style="background: #252525;text-align: center;">
		<ul style="margin: 0px;padding: 5px 0px;list-style-type: none;display: inline-block;width: 100%;text-align: center;">
			<li style="display: inline-block;"><a href="#" style="padding: 0 15px;font-size: 14px;color: #fff;text-decoration: none;border-right: 1px solid #fff;">Spedizione e reso gratuiti</a></li>
			<li style="display: inline-block;"><a href="#" style="font-size: 14px;color: #fff;text-decoration: none;border-right: 1px solid #fff;padding-right: 15px;">Più di 200 marchi</a></li>
			<li style="display: inline-block;"><a href="#" style="font-size: 14px;color: #fff;text-decoration: none;margin: 0 auto;">Campioni omaggio</a></li>
		</ul>
	</div>
	<div class="logo" style="margin: 15px 0px 10px">
		<a href="{{store url=""}}">
			<img {{if logo_width}}
				width="{{var logo_width}}"
				{{else}}
				width="165"
				{{/if}}

				{{if logo_height}}
				height="{{var logo_height}}"
				{{else}}
				height="48"
				{{/if}}

				src="{{var logo_url}}"
				alt="{{var logo_alt}}"
				border="0"
				style="width: 400px;height: 50px;"					
			/>
		</a>
		<a href="https://timeforyourskin.it/customer/account/" target="_blank" style="color: #000;font-weight:normal;font-size: 13px;text-decoration: none;float: right;margin: 15px;">Il mio Account</a>
	</div>
	<div class="nav" style="border-style: solid;border-color: #E4E4E4;border-width: 0px;border-top-width: 1px;border-bottom-width: 1px;padding: 10px 0;">

		<ul style="list-style-type: none;margin: 0px;display: inline-block;width: 100%;padding: 0px;font:13px/20px 'dinpro-regularregular', Arial, Helvetica, sans-serif"">
			<li style="display: inline-block;padding: 0 20px;"><a href="https://timeforyourskin.it/viso" target="_blank" style="color: #000;font-weight: normal;font-size: 13px;text-decoration: none;">Viso</a></li>
			<li style="display: inline-block;padding: 0 20px;"><a href="https://timeforyourskin.it/solari" target="_blank" style="color: #000;font-weight: normal;font-size: 13px;text-decoration: none;">Solari</a></li>
			<li style="display: inline-block;padding: 0 20px;"><a href="https://timeforyourskin.it/fragranze" target="_blank" style="color: #000;font-weight: normal;font-size: 13px;text-decoration: none;">Fragranze</a></li>
			<li style="display: inline-block;padding: 0 20px;"><a href="https://timeforyourskin.it/marchi" target="_blank" style="color: #000;font-weight: normal;font-size: 13px;text-decoration: none;">Marchi</a></li>
		</ul>
	</div>
</div>