<!DOCTYPE html>    
<html lang="en" class="no-scroll">
    <head>
        
        <title>Beauty Bay</title>
          
        <!-- FontAwesome -->
        <link href="fonts/fontawesome/font-awesome.css" rel="stylesheet">
        <link href='https://fonts.googleapis.com/css?family=Poppins:400,300,500,600,700&subset=latin,devanagari,latin-ext' rel='stylesheet' type='text/css'>
        
    </head>
    
    
    <body style="max-width: 600px;margin: 0 auto;font-family: 'Poppins', sans-serif;font-size: 14px;"> 
        <div class="wrapper">
            <div class="header" style="border-bottom: 1px solid #000;padding: 10px 0px;display: inline-block;width: 100%;padding-top: 0px;">
                <div class="top-header" style="background: #000001;text-align: center;">
                    <ul style="margin: 0px;padding: 5px 0px;list-style-type: none;display: inline-block;width: 100%;text-align: center;">
                        <li style="display: inline-block;"><a href="#" style="padding-right: 5px;font-size: 11px;color: #FFF;text-decoration: none;border-right: 1px solid #FFF;">FREE Delivery & Returns</a></li>
                        <li style="display: inline-block;"><a href="#" style="padding: 0 5px;font-size: 11px;color: #FFF;text-decoration: none;border-right: 1px solid #FFF;">Over 200 Brands</a></li>
                        <li style="display: inline-block;"><a href="#" style="padding-left: 5px;font-size: 11px;color: #FFF;text-decoration: none;">FREE Gifts with Premier</a></li>
                    </ul>
                </div>
                <div class="logo" style="text-align: center;margin: 10px 0px 5px;">
                    <a href="#"><img src="images/logo.jpg" style="max-width: 300px;" /></a>
                </div>
                <div class="nav">
                    <ul style="list-style-type: none;margin: 0px;display: inline-block;width: 100%;text-align: center;padding: 0px;">
                        <li style="display: inline-block;padding: 0 20px;"><a href="#" style="color: #000;font-weight: bold;font-size: 13px;text-decoration: none;">New In</a></li>
                        <li style="display: inline-block;padding: 0 20px;"><a href="#" style="color: #000;font-weight: bold;font-size: 13px;text-decoration: none;">Make Up</a></li>
                        <li style="display: inline-block;padding: 0 20px;"><a href="#" style="color: #000;font-weight: bold;font-size: 13px;text-decoration: none;">Skin Care</a></li>
                        <li style="display: inline-block;padding: 0 20px;"><a href="#" style="color: #000;font-weight: bold;font-size: 13px;text-decoration: none;">Hair</a></li>
                        <li style="display: inline-block;padding: 0 20px;"><a href="#" style="color: #000;font-weight: bold;font-size: 13px;text-decoration: none;">Bath & Body</a></li>
                    </ul>
                </div>
            </div>
            <div class="main" style="padding:10px 0px 0px;">
                <div class="img-sec" style="margin: 0px 0px 20px;display: inline-block;border-bottom: 1px solid #000;text-align: center;">
                    <img src="images/first.jpg" style="width: 100%;" />
                    <div class="img-detail" style="padding: 0px 5px;text-align: center;">
                        <p style="font-size: 12px;margin: 0px;">From bloggers to beauty editors, this make-up artist's pro quality range justifies the hype. Whether its her famous The 5-step Glowing Skin system or Eyeshadow palettes with unrivaled colour pay-off, the beautifully packaged collection is going to be the greatest new addition to your makeup bag in 2016.</p>
                        <a href="#" style="padding: 6px 11px;color: #FFF;text-transform: uppercase;background: #000;text-decoration: none;display: inline-block;max-width: 170px;width: 100%;margin-bottom: 10px;">Discover Now>></a>
                    </div>
                </div>
                
            </div>
            <div class="footer" style="display: inline-block;width: 100%;font-size: 9px;text-align: center;">
                <div class="social">
                    <ul style="list-style-type: none;padding: 0;margin: 0;">
                        <li style="display: inline-block;margin: 0 15px;"><a href="#" style="width: 30px;height: 30px;line-height: 33px;text-align: center;font-size: 20px;border-radius: 100%;display: block;background: #000;color: #FFF;"><span class="fa fa-facebook"></span></a></li>
                        <li style="display: inline-block;margin: 0 15px;"><a href="#" style="width: 30px;height: 30px;line-height: 33px;text-align: center;font-size: 20px;border-radius: 100%;display: block;background: #000;color: #FFF;"><span class="fa fa-twitter"></span></a></li>
                        <li style="display: inline-block;margin: 0 15px;"><a href="#" style="width: 30px;height: 30px;line-height: 33px;text-align: center;font-size: 20px;border-radius: 100%;display: block;background: #000;color: #FFF;"><span class="fa fa-instagram"></span></a></li>
                        <li style="display: inline-block;margin: 0 15px;"><a href="#" style="width: 30px;height: 30px;line-height: 33px;text-align: center;font-size: 20px;border-radius: 100%;display: block;background: #000;color: #FFF;"><span class="fa fa-pinterest"></span></a></li>
                        <li style="display: inline-block;margin: 0 15px;"><a href="#" style="width: 30px;height: 30px;line-height: 33px;text-align: center;font-size: 20px;border-radius: 100%;display: block;background: #000;color: #FFF;"><span class="fa fa-youtube"></span></a></li>
                        <li style="display: inline-block;margin: 0 15px;"><a href="#" style="width: 30px;height: 30px;line-height: 33px;text-align: center;font-size: 20px;border-radius: 100%;display: block;background: #000;color: #FFF;"><span class="fa fa-google-plus"></span></a></li>
                    </ul>
                </div>
                <div class="footer-links">
                    <ul style="list-style-type: none;margin: 0;padding: 0;margin-top: 20px;">
                        <li style="padding:0px 15px;border-right: 1px solid #000;display: inline-block;"><a href="#" style="font-size: 13px;color: #000;">EDITed.</a></li>
                        <li style="padding:0px 15px;border-right: 1px solid #000;display: inline-block;"><a href="#" style="font-size: 13px;color: #000;">Brand A-Z</a></li>
                        <li style="padding:0px 15px;display: inline-block;"><a href="#" style="font-size: 13px;color: #000;">T&Cs</a></li>
                    </ul>
                </div>
                <p>You are receiving the email as you have previously indicated that we can contact you with special offers, exclusives and promotions that may be of interest. If you'd no longer like to receive these emails, you can <a href="#">unsubscribe</a></p>
                <div>
                    <p>Please add <a href="mailto:mail@news.beautybay.com">mail@news.beautybay.com</a> to your address book to make sure you don't miss any special offers.</p>
                </div>
            </div>
        </div>
    </body>
</html>
      